* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: purple;;
}

#form-section {
    width: 90vw;
    padding: 10px;
    margin: 10px auto;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#headlines {
    text-align: center;
    margin-bottom: 20px;
}

#headlines h1 {
    font-size: 2rem;
}

#headlines h2 {
    font-size: 1.5rem;
}

#gif-search-form {
    margin-bottom: 20px;
    font-size: 1.25rem;
}

#gif-search-bar-label {
    margin-right: 1vw; 
}

#gif-search-bar {
    font-size: 1.25rem;
    width: 60vw;
    padding: 5px;
    margin-right: 1vw;
}

#submit-button {
    color: gold;
    background-color: black;
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#remove-all-button {
    color: white;
    background-color: red;
    font-size: 1.25rem;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#gif-area {
    width: 95%;
    margin: 0 auto;
}